---
---
{% include header.html title="Buzzwords - Red Blue Games" bootstrap=true %}
{% include navbar.html %}

<div class="jumbotron buzzwords">
  <div class="container">
    <img class="img-responsive center-block" src="/assets/images/bw-logo-large.png" alt="buzzwords-banner"/>

    <div class="jumbotron-text">
      <span class="bw-header">Take the Party with You</span>
      <a class="btn btn-app-store" role="button" href="https://play.google.com/store/apps/details?id=com.buzzwords">
        <img alt="Get it on Google Play"
        src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
      </a>
      <a class="btn btn-app-store" href="http://www.amazon.com/gp/product/B00556QW8I/ref=mas_pm_Buzzwords" role="button">
        <img alt="Get it on Amazon"
        src="http://cdn.amazonblogs.com/developer_blog/images/6a0148c71fb71b970c0153901475c3970b-800wi.png"/>
      </a>
  </div>
  </div>
</div>

<div class="buzzwords container">

  <div class="row">

    <div class="col-sm-8">
      <h2>The Game</h2>
      Take turns giving clues to your teammates to guess certain words, but
      <strong>watch out!</strong>  If any of your clues use one of five related words you
      will get buzzed!  The team that successfully guesses the
      most words by the final round wins!<br/>

      <h4>Full Version Features</h4>
      <ul>
        <li>Includes 1000 cards (each with 5 buzz words and 1 guess word)</li>
        <li>Play with up to four teams</li>
        <li>Configure Game Settings like time and rounds.</li>
        <li>Buzz your friends using Buzz Mode! (requires second phone)</li>
        <li>Customize Rules like Skipping on/off</li>
        <li><strong>New Feature:</strong> Review cards on Turn Results.
          While reviewing, players may view a card's buzzwords and amend the
          right, wrong, or skip status.</li>
        <li><strong>New Feature:</strong> Use gestures to mark cards right,
          wrong, or skipped.</li>
      </ul>
      The words included in Buzzwords are meant to be fun for all ages and
      backgrounds!  We have plans to add additional card packs that will be
      catered towards different groups.  If you have suggestions or concerns
      about our content please let us know by sending a message or posting to
      <a href="https://www.facebook.com/buzzwordsapp">our Facebook page</a>.<br/>

      <hr class="featurette-divider">

      <h2>How to Play</h2>
      At its core, Buzzwords is a team game that pits friends against friends
      in cutthroat wordplay action. Here are the basics:<br/>
      <ul>
        <li>Divide all players into teams of two or more.</li>
        <li>Each turn, a team assigns a presenter who must try to get their
          team to guess as many secret words as possible without saying
          certain 'buzz' words.</li>
        <li>An opposing player enforces the list of 'buzz' words.</li>
        <li>Points are awarded for each successfully guessed word.</li>
        <li>The team that has the most points at the end of the game
          wins!</li>
      </ul>
      If you have any specific questions about game rules, see the
      <a href="#knowmore">FAQ</a> section.<br/>
    </div>
    <div class="col-sm-4">
      <div id="bwCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#bwCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#bwCarousel" data-slide-to="1"></li>
          <li data-target="#bwCarousel" data-slide-to="2"></li>
          <li data-target="#bwCarousel" data-slide-to="3"></li>
          <li data-target="#bwCarousel" data-slide-to="4"></li>
          <li data-target="#bwCarousel" data-slide-to="5"></li>
          <li data-target="#bwCarousel" data-slide-to="6"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <img src="/assets/images/bw-carousel/title.jpg" alt="bwtitle"/>
          </div>
          <div class="item">
            <img src="/assets/images/bw-carousel/gamesetup-fourteams.jpg" alt="bwtitle"/>
          </div>
          <div class="item">
            <img src="/assets/images/bw-carousel/green-turn-howToPlay.jpg" alt="howtoplay"/>
          </div>
          <div class="item">
            <img src="/assets/images/bw-carousel/blue-turn-houseRules.jpg" alt="houserules"/>
          </div>
          <div class="item">
            <img src="/assets/images/bw-carousel/red-turn-gestures.jpg" alt="gestures"/>
          </div>
          <div class="item">
            <img src="/assets/images/bw-carousel/turn-summary-review.jpg" alt="review"/>
          </div>
          <div class="item">
            <img src="/assets/images/bw-carousel/buzzmode-annoy.jpg" alt="buzzmode"/>
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="left carousel-control" href="#bwCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#bwCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    </div><!--/span-->
  </div><!--/row-->
</div><!--/container-->
<!-- START THE FEATURETTES -->
<div class="buzzwords container">
<div class="row featurette-row">

  <hr class="featurette-divider">

  <div class="row featurette text-center">
    <div class="col-md-6 col-md-offset-1">
      <h2 class="featurette-heading"><span class="bw-red">Up to Four Teams</span></h2>
      <p class="lead">Play with as many as four teams, or just
      choose your favorite team colors.</p>
    </div>
    <div class="col-md-4">
      <img class="featurette-image img-responsive bw-featurette" src="/assets/images/bw-marketing/game-setup-glance.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette text-center">
    <div class="col-md-4 col-md-offset-1">
      <img class="featurette-image img-responsive bw-featurette" src="/assets/images/bw-marketing/turn-summary-glance.jpg" alt="Generic placeholder image">
    </div>
    <div class="col-md-6">
      <h2 class="featurette-heading bw-yellow">Review Your Turns</h2>
      <p class="lead">If you mess up scoring, don't sweat! You can always
        review and switch your answers after your turn is over.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette text-center">
    <div class="col-md-6 col-md-offset-1">
      <h2 class="featurette-heading bw-green">Tons of Options</h2>
      <p class="lead">Turn off skipping, change the number of buzzwords,
        choose a different time. The rules can fit any party's style.</p>
    </div>
    <div class="col-md-4">
      <img class="featurette-image img-responsive bw-featurette" src="/assets/images/bw-marketing/game-setup-2-glance.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette text-center">
    <div class="col-md-4 col-md-offset-1">
      <img id="buzzer" class="featurette-image img-responsive bw-featurette" src="/assets/images/bw-marketing/buzzer-glance.jpg" alt="Generic placeholder image">
    </div>
    <div class="col-md-6">
      <h2 class="featurette-heading bw-blue">Buzz Mode!</h2>
      <p class="lead">If you have two phones, use the second to referee
      the game. Let no mistake go unbuzzed!</p>
    </div>
  </div>

  <hr class="featurette-divider">
  </div><!--row (featurettes)-->
  </div><!--/container 2-->
  <!-- /END THE FEATURETTES -->

  <div class="container-liquid">
    <div class="row wide-highlight">
      <div class="text-center">
        <h1 class="light-header">Available Now on Amazon and Google!</h1>
        <a class="btn btn-app-store" role="button" href="https://play.google.com/store/apps/details?id=com.buzzwords">
          <img alt="Get it on Google Play"
          src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
        </a>
        <a class="btn btn-app-store" href="http://www.amazon.com/gp/product/B00556QW8I/ref=mas_pm_Buzzwords" role="button">
          <img alt="Get it on Amazon"
          src="http://cdn.amazonblogs.com/developer_blog/images/6a0148c71fb71b970c0153901475c3970b-800wi.png"/>
        </a>
      </div>
    </div><!--/row-->
  </div>
  <div class="buzzwords container">
    <div class="row bottom">
      <h3 id="knowmore">Want to Know More?</h3>

      <!-- Nav tabs -->
      <ul id="bw-tabs" class="nav nav-tabs">
        <li class="active"><a href="#faq" data-toggle="tab">FAQ</a></li>
        <li><a href="#example-game" data-toggle="tab">Example Game</a></li>
        <li><a href="#open-source" data-toggle="tab">Open Source</a></li>
      </ul>
      <div class="tab-content">

        <div class="tab-pane fade in active buzzwords" id="faq">
          <h5>What age range is the game appropriate for?</h5>
          We designed the game to be appropriate for children. But it is a game
          that revolves around the clever use of the English language, after all,
          so it is likely going to be more fun for mature children and adults.<br/>

          <h5>Is it okay to say a buzz word after a guesser has used it?</h5>
          Yes. As long as a guesser says the word before the presenter, the word
          is then fair game for the presenter to use it. This allows presenters
          to chain clues up to the word that they are trying to get people to
          guess.<br/>

          <h5>Can the presenter substitute in nonsense words for buzz words?</h5>
          Definitely. Just be reasonable about it -- don't use anything close
          to the word you are substituting. For example, don't replace buzz
          words with nonsense words that rhyme with the buzz words or have the
          same number of syllables. Really, it's best to just use something like
          "blank" or "blah" to avoid any unfair leading.<br/>

          <h5>Skipping is lame. Can we prevent people from doing it?</h5>
          Yes, because some households (not ours) frown upon skipping, we made
          it so that you can disable skipping from the <strong>Settings</strong>
          screen. Additionally, under <strong>Advanced House Rules</strong> you
          can change the points that skipping (and right and wrong) adds or
          subtracts.<br/>

          <h5>If a buzz word or guess word is an acronym are we allowed to say
            any of the words the acronym stands for?</h5>
            A good, but admittedly broad, rule of thumb is if the game is
            trivialized by a certain behavior, it's probably not allowed. So the
            short answer is no. The game would be too easy if people could turn buzz
            words into acronyms or just say what an acronym stands for.<br/>
          </div>

          <div class="tab-pane fade buzzwords" id="example-game">
            Sally and three of her close friends are out camping and realize they
            forgot to bring any games. But Sally comes to the rescue and pulls out
            her Android phone with Buzzwords! The group praises her foresight and
            excitedly divides up into two teams of two.<br/><br/>
            Sally opens the app and taps <strong>Play</strong> to enter the
            <strong>Game Setup</strong> screen. The group divides into two teams,
            yellow and green, and Sally highlights those colors.<br/><br/>
            Since they want to each play 4 times they set it to 8 rounds
            (#teams X #rounds = #turns). Sally taps <strong>Start Game</strong>
            to play.<br/><br/>
            Sally starts off presenting for the Yellow Team and Rob, sitting to
            her left, monitors Sally on behalf of the Green Team.  Sally's first
            word to present is Sandwich, which includes the 'buzz' words bread,
            butter, eat, lunch, and sub. She starts by saying,
            <blockquote>'OK...this is something you <strong><i>eat</i></strong>
              for <strong><i>lunch</i></strong>.'</blockquote>
              Rob, who is an astute buzzer, calls her out on her multiple
              transgressions and Sally is forced to hit the <strong>X (buzz)
            </strong> button.<br/><br/>
            Sally unfortunately can't get her team to guess the next word and time
            runs up. Her turn totals an embarassing -1 points.<br/>
            But Sally is given a chance for redemption. She passes the phone to
            her right, to Zack on the Green team and then looks over his shoulder
            to call him out.<br/><br/>
            She's so on top of it that Zack ends up with -3 points. The group
            decides to cut him a break and on the <strong>Turn Results</strong>
            screen they change one word to a "skip", making him only lose his
            team 2 points.<br/><br/>
            Zack passes the phone to his right and assumes the monitoring role,
            eager to exact his revenge.<br/>
            And the excitement continues until the friends see the glimmer of
            dawn and realize they've had <i>WAY TOO MUCH FUN!</i><br/>
          </div>

          <div class="tab-pane fade buzzwords" id="open-source">
            We love Open Source software and want to do our part to foster
            sharing within the game community. Part of the reason we decided to develop
            for Android first instead of iOS was because the platform is <i>mostly</i> open.<br/>
            <br/>
            Buzzwords code is published under the
            <a href="http://www.gnu.org/licenses/gpl.html">GNU Public License</a>
            and is freely available to the public on
            <a href="https://github.com/siramix/buzzwords">Github</a>. This license
            allows anyone to copy, modify, or share our code provided it is licensed
            under the GNU Public License v3.  The only piece of our app that is
            excluded from this license is the XML file that stores the deck of
            slides (key words and buzz words).  Licensing our app this way allows
            us to give back to the Android community without precluding our ability
            to profit from the app.  We wanted the community to be able to see a
            fully functional Android app rather than just the snipets of code that
            developers typically share, and we put a deliberate effort into using
            best practices throughout our development.<br/><br/>

            If you are a fan of Buzzwords and are interested in using or just
            checking out our code we would love to hear from you. Let us know
            at <a href="mailto:buzzwords@siramix.com">buzzwords@siramix.com</a>, or
            <a href="https://www.facebook.com/buzzwordsapp"></a> on Facebook and follow us on
            <a href="https://github.com/siramix">Github</a>.<br/>
          </div>
        </div>
      </div><!--/row-->
    </div><!--/container (want to know more)-->
{% include footer.html %}
