---
permalink: games/minigames/mininuts/
---
{% include header.html title="Mini Nuts - Red Blue Games"%}
{% include navbar.html %}

<div class="minigame-background mininuts">
<div class="minigame-wrapper mininuts" id="mininuts">

  <div class="minigame-jumbotron">
    <div class="minigame-nav-container">
      <div id="left" class="minigame-nav leftnavarrow pull-left animated fadeInLeft">
        <span class="glyphicon glyphicon-arrow-left"></span>
      </div>
      <div id="right" class="minigame-nav rightnavarrow pull-right animated fadeInRight">
        <span class="glyphicon glyphicon-arrow-right"></span>
      </div>
    </div>
    <img src="/assets/images/games-pages/mininuts/marketing-banner-lg.png" alt="mini nuts banner" class="animated fadeIn hidden-lg"/>
    <img src="/assets/images/games-pages/mininuts/marketing-banner-xl.png" alt="mini nuts large banner" class="animated fadeIn hidden-xs hidden-sm hidden-md visible-lg"/>
    <img src="/assets/images/games-pages/mininuts/mininuts-title.png" alt="mini nuts title" class="animated bounceIn minititle nutstitle"/>
  </div>

  <div class="container minigame-blocks">
    <div class="row">
      <div class="badge-container">
        <div class="col-sm-12 text-center badge-icon animated fadeIn">
          <a target="_blank" href="https://itunes.apple.com/app/id882540131?mt=8">
            <img alt="Download app on App Store"
            src="/assets/images/games-pages/app-store-badge.svg"/>
          </a>
          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.redbluegames.mininuts">
            <img alt="Android app on Google Play"
            src="/assets/images/games-pages/play-store-badge.png"/>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-1 minigame-description mininuts minigame-borders">
        <div class="">
          <h1 class="text-center">Mini Nuts: Memory Challenge</h1>
          <p>Challenge your memory by playing as a forgetful squirrel trying to find his buried nuts. Dig up as many nuts as you can without missing in this brain straining, brain training minigame.</p>
        </div>
        <div class="feature-list">
          <h4>Features</h4>
          <ul>
            <li>Short and Sweet Gameplay Sessions</li>
            <li>Challenges Your Memory</li>
            <li>Leaderboards</li>
          </ul>
        </div>
      </div>
      <div class="minigame-video col-sm-6 mininuts">
        <img class="mininuts gif minigame-borders" src="/assets/images/games-pages/mininuts/mn-webclip-highres.gif" alt="mini nuts video"/>
      </div>
    </div>
  </div> <!-- /container -->
</div> <!-- /minigame-wrapper -->
</div> <!-- /minigame-background -->
{% include footer.html %}
