---
permalink: games/minigames/ministackem/
---
{% include header.html title="Mini Stackem - Red Blue Games"%}
<div class="minigame-background ministackem">
<div class="minigame-wrapper ministackem" id="ministackem">

  <div class="minigame-jumbotron ministackem">
    <div class="minigame-nav-container">
      <div id="left" class="minigame-nav leftnavarrow pull-left animated fadeInLeft">
        <span class="glyphicon glyphicon-arrow-left"></span>
      </div>
      <div id="right" class="minigame-nav rightnavarrow pull-right animated fadeInRight">
        <span class="glyphicon glyphicon-arrow-right"></span>
      </div>
    </div>
    <img src="/assets/images/games-pages/ministackem/marketing-banner.png" alt="mini stackem banner" class="animated fadeIn visible-xs"/>
    <img src="/assets/images/games-pages/ministackem/marketing-banner-lg.png" alt="mini stackem banner" class="animated fadeIn visible-sm visible-md"/>
    <img src="/assets/images/games-pages/ministackem/marketing-banner-xl.png" alt="mini stackem large banner" class="animated fadeIn visible-lg banner-img"/>
    <img src="/assets/images/games-pages/ministackem/ministackem-title.png" alt="mini stackem title" class="animated bounceInDown minititle stackemtitle"/>
  </div>

  <div class="container minigame-blocks">
    <div class="row">
      <div class="badge-container">
        <div class="col-sm-12 text-center badge-icon animated fadeIn">
          <a target="_blank" href="https://itunes.apple.com/app/id897253085?mt=8">
            <img alt="Download app on App Store"
            src="/assets/images/games-pages/app-store-badge.svg"/>
          </a>
          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.redbluegames.ministackem">
            <img alt="Android app on Google Play"
            src="/assets/images/games-pages/play-store-badge.png"/>
          </a>
          <a target="_blank" href="http://www.kongregate.com/games/redbluegamesllc/mini-stackem">
            <img class="kongregate" src="http://cdn1.kongcdn.com/images/sharedassets/badge_dev_220x25.png" width="220" height="25" alt="Kongregate Games logo"></a>
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-1 minigame-description ministackem minigame-borders">
        <div class="">
          <h1 class="text-center">Mini Stackem: Action Match3</h1>
          <p>Unlike any match 3 game you've played, Mini Stackem is a fast paced, combo based, race against the clock for the highest possible score. Designed for touch, matching pieces is incredibly familiar, but the strategy is incredibly deep. Fun for beginners and experts, Mini Stackem will entertain for hours.</p>
        </div>
        <div class="feature-list">
          <h4>Features</h4>
          <ul>
            <li>Intuitive scoring</li>
            <li>Real time piece matching</li>
            <li>Deep combo system</li>
            <li>Random color schemes</li>
            <li>Leaderboards and Achievements</li>
          </ul>
        </div>
      </div>
      <div class="minigame-video col-sm-6 ministackem">
        <img class="ministackem gif minigame-borders" src="/assets/images/games-pages/ministackem/ms-webclip.gif" alt="mini stackem video"/>
      </div>
    </div>
  </div> <!-- /container -->
</div> <!-- /minigame-wrapper -->
</div> <!-- /minigame-background -->
{% include footer.html %}
