---
permalink: minigames/
---
{% include header.html %}
<div id="left" class="minigame-nav leftnavarrow pull-left"><span class="glyphicon glyphicon-arrow-left"></span></div>
<div id="right" class="minigame-nav rightnavarrow pull-right"><span class="glyphicon glyphicon-arrow-right"></span></div>

<div class="minigame-wrapper minifish" id="minifish">

  <div class="jumbotron minigame-jumbotron">
    <div class="container">
    </div>
  </div>

  <div class="container">
    <div class="row minigame-borders minifish animated fadeIn">
      <div class="minigame-video col-md-4 col-md-offset-1">
        VIDEO HERE
      </div>
      <div class="minigame-description col-md-8">
        <div class="row description-row">
          <div class="col-md-6 text-center badge-icon">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.redbluegames.minifish">
              <img alt="Download app on App Store"
              src="/assets/images/games-pages/app-store-badge.svg"/>
            </a>
          </div>
          <div class="col-md-6 text-center badge-icon">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.redbluegames.minifish">
              <img alt="Android app on Google Play"
              src="/assets/images/games-pages/play-store-badge.png"/>
            </a>
          </div>
        </div>
        <div class="col-md-12" style="padding-top: 15px;">
          <p>Swim as far as your little fins can take you in this swimfinite runner Minigame! </p>
          <p>It's an easy to learn but delightfully hard to master minigame where players dodge the dangers of the sea while trying to swim as far as possible.</p>
        </div>
        <div class="col-md-12 feature-list">
          <h4>Features</h4>
          <ul>
            <li>Rapid retrying</li>
            <li>Challenging gameplay </li>
            <li>Compete on the Leaderboards</li>
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
</div> <!-- /minigame-wrapper -->

<div class="minigame-wrapper mininuts hidden" id="mininuts">
  <div class="minigame-jumbotron">
    <img src="/assets/images/games-pages/mininuts/mininuts-tree.png" class="animated bounceInLeft branches"/>
    <img src="/assets/images/games-pages/mininuts/mininuts-title.png" class="animated fadeInDown titleimg"/>
  </div>

  <div class="container">
    <div class="row minigame-borders mininuts animated fadeIn">
      <div class="minigame-video col-md-4 col-md-offset-1">
        VIDEO HERE
      </div>
      <div class="minigame-description col-md-8">
        <div class="row description-row">
          <div class="col-md-6 text-center badge-icon">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.redbluegames.minifish">
              <img alt="Download app on App Store"
              src="/assets/images/games-pages/app-store-badge.svg"/>
            </a>
          </div>
          <div class="col-md-6 text-center badge-icon">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.redbluegames.minifish">
              <img alt="Android app on Google Play"
              src="/assets/images/games-pages/play-store-badge.png"/>
            </a>
          </div>
        </div>
        <div class="col-md-12" style="padding-top: 15px;">
          <p>Challenge your memory by playing as a forgetful squirrel trying to find his buried nuts. Dig up as many nuts as you can without missing in this brain straining, brain training minigame.</p>
        </div>
        <div class="col-md-12 feature-list">
          <h4>Features</h4>
          <ul>
            <li>Short and Sweet Gameplay Sessions</li>
            <li>Challenges Your Memory</li>
            <li>Leaderboards</li>
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
</div> <!-- /minigame-wrapper -->
{% include footer.html %}
