---
permalink: minigames/mininuts/
---
{% include header.html %}
<div class="minigame-wrapper mininuts" id="mininuts">

  <div class="minigame-jumbotron">
    <div class="minigame-nav-container">
      <div id="left" class="minigame-nav leftnavarrow pull-left animated fadeInLeft">
        <span class="glyphicon glyphicon-arrow-left"></span>
      </div>
      <div id="right" class="minigame-nav rightnavarrow pull-right animated fadeInRight">
        <span class="glyphicon glyphicon-arrow-right"></span>
      </div>
    </div>
    <img src="/assets/images/games-pages/mininuts/marketing-banner.png" class="animated fadeIn"/>
    <img src="/assets/images/games-pages/mininuts/mininuts-title.png" class="animated bounceIn minititle fishtitle"/>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center badge-icon animated fadeIn">
        <a target="_blank" href="https://itunes.apple.com/app/id882540131?mt=8">
          <img alt="Download app on App Store"
          src="/assets/images/games-pages/app-store-badge.svg"/>
        </a>
        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.redbluegames.mininuts">
          <img alt="Android app on Google Play"
          src="/assets/images/games-pages/play-store-badge.png"/>
        </a>
      </div>
    </div>
    <div class="row minigame-borders mininuts animated fadeInUp">
      <h1 class="text-center">Mini Nuts: Memory Challenge</h1>
      <div class="minigame-video col-md-4 mininuts">
        <img class="mininuts gif" src="/assets/images/games-pages/mininuts/mn-webclip.gif"/>
      </div>
      <div class="minigame-description col-md-6 col-md-offset-1">
        <div class="col-md-12" style="padding-top: 15px;">
          <p>Challenge your memory by playing as a forgetful squirrel trying to find his buried nuts. Dig up as many nuts as you can without missing in this brain straining, brain training minigame.</p>
        </div>
        <div class="col-md-12 feature-list">
          <h4>Features</h4>
          <ul>
            <li>Short and Sweet Gameplay Sessions</li>
            <li>Challenges Your Memory</li>
            <li>Leaderboards</li>
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
</div> <!-- /minigame-wrapper -->
{% include footer.html %}
