---
title: Sparklite - An Inventive Twist on Classic Action-Adventures
icon: "/assets/sparklite/favicon.png"
---
{% include header.html bootstrap=false %}
{% include analytics.html %}
<link href="/css/sparklite.css" rel="stylesheet">
<link rel="stylesheet" href="/fonts/font-awesome-5.3.1/css/brands.min.css">
<script src="/js/rellax.min.js"></script>

<!-- Static navbar -->
<nav class="navbar navbar-default animated fadeIn">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <span class="">Red</span>
        <span class=""> Blue</span>
        <span class=""> Games</span></a>
      <ul class="horizontal-icon-list">
        <li>
          <a href="/presskit/sparklite-presskit/"
            ga-on="click"
            ga-event-category="social"
            ga-event-action="presskit-clicked">
            <span class="fab" style="font-size: 20px; font-weight: strong;">presskit</span>
          </a>
        </li>
        <li>
          <a href="https://store.steampowered.com/app/943140/Sparklite"
            ga-on="click"
            ga-event-category="social"
            ga-event-action="steam-clicked">
            <span class="fab fa-steam-square"></span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/redbluegames"
            ga-on="click"
            ga-event-category="social"
            ga-event-action="twitter-clicked">
            <span class="fab fa-twitter"></span>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/redbluegamesllc"
            ga-on="click"
            ga-event-category="social"
            ga-event-action="facebook-clicked">
            <span class="fab fa-facebook"></span>
          </a>
        </li>
        <li>
          <a href="https://github.com/redbluegames"
            ga-on="click"
            ga-event-category="social"
            ga-event-action="github-clicked">
            <span class="fab fa-github"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="">

  <div class="title-subtitle">
    <img id="sparklite-logo" class="sparklite-logo" src="/assets/sparklite/logo.png" alt="sparklite logo"/>
    <h2 id="sparklite-subtitle" class="white-header text-center animated fadeInDown">An Inventive Twist on Classic Action-Adventures</h2>
  </div>

  <div id="animated-scroll" class="animated bounceInUp">
    <h2 id="scroll-text" class="animated fadeOut yellow3d">Scroll Down!</h2>
  </div>

  <div id="screenshot-container-1" class="screenshot-container">
    <div id="screenshot-1" class="full-screen-screenshot">
    </div>
<!--    <img src="/assets/sparklite/foothills-animated.gif" class="full-screen-image"/>-->
  </div>

  <div id="cloud-1" class="cloud-block rellax" data-rellax-speed="3">
    <div class="clouds cloud-top animated fadeInUp">
      <div class="cloud-puffs">
        <img src="/assets/sparklite/cloud-puff-med.png" class="cloud-puff rellax" data-rellax-speed="7"
          style="left: -140px; top: 20vh;"/>
        <img src="/assets/sparklite/cloud-puff-small.png" class="cloud-puff rellax" data-rellax-speed="2"
          style="left: 135px; top: 5vh;"/>
        <img src="/assets/sparklite/cloud-puff-wide.png" class="cloud-puff rellax" data-rellax-speed="4"
          style="right: -150px; top: 5vh;"/>
      </div>
    </div>
    <div class="cloud-fill">
      <span class="cloud-fill-center cloud-text">
        <p>Sparklite is an action-adventure set in the whimsical and ever-changing land of
          Geodia. Battle foes in top-down action using an arsenal of Sparklite-powered
          gadgets, guns, and gear. Explore dangerous corners of the world, take down
          titans of the mining industry, and save Geodia!
        </p>
      </span>
    </div>
    <div class="clouds cloud-bottom">
      <div class="cloud-puffs">
        <img src="/assets/sparklite/cloud-puff-med.png" class="cloud-puff rellax" data-rellax-speed="7"
          style="left: -60px; top: 118vh;"/>
        <img src="/assets/sparklite/cloud-puff-wide.png" class="cloud-puff rellax" data-rellax-speed="5"
          style="right: -175px; top: 105vh;"/>
        <img src="/assets/sparklite/cloud-puff-small.png" class="cloud-puff rellax" data-rellax-speed="6"
          style="right: 175px; top: 125vh;"/>
      </div>
    </div>
  </div>

  <div id="screenshot-container-2" class="screenshot-container">
    <div id="screenshot-2" class="full-screen-screenshot">
        <span class="steam-wishlist text-center rellax" data-rellax-speed="3">
            <h2 class="yellow3d"><i class="fas fa-long-arrow-alt-down"></i>Wishlist Us!</h2>
            <p><b>We will be posting dev updates every couple of weeks and respond to the forums.</b></p>
            <iframe class="steam-iframe box-shadow"
                ga-on="click"
                ga-event-category="social"
                ga-event-action="steam-clicked"
                src="https://store.steampowered.com/widget/943140/" frameborder="0"></iframe>
            <br/>
            <a href="https://store.steampowered.com/app/943140/Sparklite"
               ga-on="click"
               ga-event-category="social"
               ga-event-action="steam-clicked">
            <img id="steam-logo" class="steam-logo-link" src="/assets/sparklite/steam-logo-white.png" alt="steam logo"/></a>
        </span>
      </div>
    <!--<img src="/assets/sparklite/cave-animated-wide.gif" class="full-screen-image"/>-->
  </div>

  <!-- More cloud content can go here -->
  <div id="cloud-2" class="cloud-block rellax" data-rellax-speed="3">
    <div class="clouds cloud-top">
      <div class="cloud-puffs">
        <img src="/assets/sparklite/cloud-puff-med.png" class="cloud-puff rellax" data-rellax-speed="6"
          style="right: 0px; top: 65vh;"/>
        <img src="/assets/sparklite/cloud-puff-wide.png" class="cloud-puff rellax" data-rellax-speed="3"
          style="left: -100px; top: 45vh;"/>
        <img src="/assets/sparklite/cloud-puff-small.png" class="cloud-puff rellax" data-rellax-speed="1"
          style="left: 150px; top: 10vh;"/>
      </div>
    </div>
    <div class="cloud-fill">
      <!-- Begin MailChimp Signup Form -->
      <div class="newsletter-form animated cloud-fill-center box-shadow">
        <div id="mc_embed_signup" class="">
          <form action="//redbluegames.us12.list-manage.com/subscribe/post?u=d4b20d0dcb4ef22862b11d4b4&amp;id=4d47288fe4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <h2 class="text-center">Follow the Team</h2>
              <div class="mc-field-group form-group">
                <label for="mce-EMAIL" class="sr-only">Email Address <span class="asterisk">*</span>
                </label>
                <input type="email" value="" name="EMAIL" class="required email input-box form-control" id="mce-EMAIL" placeholder="Email"
                  ga-on="click"
                  ga-event-category="newsletter"
                  ga-event-action="email-focused">
              </div>
              <div class="description">
                <p>We will send out periodic updates to let you know how development is going.
                  Your support means a lot to us!</p>
              </div>
              <div class="mc-field-group from-control input-group-addon form-group">
                <span class="sr-only"><strong>Subscription Options </strong></span>
                <ul><li><input type="checkbox" value="4" name="group[4133][4]" id="mce-group[4133]-4133-0"><label for="mce-group[4133]-4133-0"><span></span> Release Announcement Only</label></li>
                </ul>
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d4b20d0dcb4ef22862b11d4b4_4d47288fe4" tabindex="-1" value=""></div>
              <div class="clear text-center">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-default"
                ga-on="click"
                ga-event-category="newsletter"
                ga-event-action="submit">
              </div>
            </div>
          </form>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
          <script type='text/javascript'>(function($) {window.fnames = new Array();window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        </div>
      </div>
      <!--End mc_embed_signup-->
    </div>
    <div class="clouds cloud-bottom">
    </div>
  </div> <!-- End Newsletter Cloud -->

    <div id="screenshot-container-3" class="screenshot-container">
      <div id="screenshot-3" class="full-screen-screenshot">
        </div>
      <!--<img src="/assets/sparklite/cave-animated-wide.gif" class="full-screen-image"/>-->
    </div>

    <div id="cloud-3" class="cloud-block rellax" data-rellax-speed="3">
      <div class="clouds cloud-top animated fadeInUp">
        <div class="cloud-puffs">
          <img src="/assets/sparklite/cloud-puff-med.png" class="cloud-puff rellax" data-rellax-speed="7"
            style="left: -140px; top: 20vh;"/>
          <img src="/assets/sparklite/cloud-puff-small.png" class="cloud-puff rellax" data-rellax-speed="2"
            style="left: 135px; top: 5vh;"/>
          <img src="/assets/sparklite/cloud-puff-wide.png" class="cloud-puff rellax" data-rellax-speed="4"
            style="right: -150px; top: 5vh;"/>
        </div>
      </div>
      <div class="cloud-fill">
        <span class="cloud-fill-center cloud-text">
          <div class="clear text-center">
            <h2>Announcing the Signature Edition!</h2>
            <p>We are so excited to announce that we will be shipping a Signature Edition copy of Sparklite. You can pre-order a copy below.</p>
            <a href="https://signatureeditiongames.com/collections/signature-editions" target="new">
              <img id="sig-packshot" class="" src="/assets/sparklite/sigedition-packshot.jpg"/></a>
            <a href="https://signatureeditiongames.com/collections/signature-editions" class="button btn btn-default"
            target="new"
            ga-on="click"
            ga-event-category="newsletter"
            ga-event-action="submit">Pre-Order Here!</a>
          </div>
        </span>
      </div>
      <div class="clouds cloud-bottom">
        <div class="cloud-puffs">
          <img src="/assets/sparklite/cloud-puff-med.png" class="cloud-puff rellax" data-rellax-speed="7"
            style="left: -60px; top: 118vh;"/>
          <img src="/assets/sparklite/cloud-puff-wide.png" class="cloud-puff rellax" data-rellax-speed="5"
            style="right: -175px; top: 105vh;"/>
          <img src="/assets/sparklite/cloud-puff-small.png" class="cloud-puff rellax" data-rellax-speed="6"
            style="right: 175px; top: 125vh;"/>
        </div>
      </div>
    </div>

  <div class="bottom-text">
    <h2 class="coming-soon">Coming Fall 2019 to Mac, PC, and Consoles</h2>
  </div>

  <!-- Future blocks go here
  <div id="group4" class="">
    <div class=" ">
      <div class="title">Base Layer</div>
    </div>
  </div>
  -->
</div>

<script>
  var debugInput = document.querySelector("input");
  function updateDebugState() {
      document.body.classList.toggle('debug-on', debugInput.checked);
  }
  debugInput.addEventListener("click", updateDebugState);
  updateDebugState();
</script>

<script>
  // Also can pass in optional settings block
  var rellax = new Rellax('.rellax');
</script>

</body>
</html>
