---
title: Sparklite - An Inventive Roguelike Adventure
icon: "/assets/sparklite/favicon.png"
---
{% include header.html %}
{% include analytics.html %}
<link href="/css/sparklite.css" rel="stylesheet">

  <!-- Static navbar -->
  <nav class="navbar navbar-default animated fadeIn">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <span class="">Red</span>
          <span class=""> Blue</span>
          <span class=""> Games</span></a>

        <ul class="horizontal-icon-list">
          <li><a href="https://twitter.com/redbluegames" data-event-category="social" data-event-action="twitter-clicked"><i class="fa fa-lg fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/redbluegamesllc" data-event-category="social" data-event-action="facebook-clicked"><i class="fa fa-lg fa-facebook-official"></i></a></li>
          <li><a href="https://github.com/redbluegames"data-event-category="social" data-event-action="github-clicked"><i class="fa fa-lg fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="parallax">
    <div id="group1" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title-subtitle">
          <img id="sparklite-logo" class="sparklite-logo animated fadeIn" src="/assets/sparklite/logo-white.png" alt="sparklite logo"/>
          <h2 id="sparklite-subtitle" class="subtitle text-center yellow3d animated fadeInDown">An Inventive Roguelike Adventure</h2>
          </div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div id="animated-scroll" class="animated bounceInUp">
          <h2 id="scroll-text" class="animated fadeOut yellow3d">Scroll Down!</h2>
        </div>
      </div>
    </div>

    <div id="group2" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="cloud-block">
          <div class="clouds cloud-top">
          </div>
          <div class="cloud-fill">
            <span class="cloud-fill-center cloud-text">Adventure across the world as Ada, a genius
              engineer who uses novel gadgets and gizmos to solve puzzles and
              take down foes. Invent new gear using the spoils gained from
              your exploration and defeat the gremlins before they extract the
              last of the world's sparklite.
            </p>
          </div>
          <div class="clouds cloud-bottom">
          </div>
        </div>      </div>
      <div class="parallax__layer parallax__layer--base">
      </div>
    </div>

    <div id="group3" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <!-- More cloud content can go here -->
        <div class="cloud-block">
          <div class="clouds cloud-top">
          </div>
          <div class="cloud-fill">
            <!-- Begin MailChimp Signup Form -->
            <div class="newsletter-form animated cloud-fill-center">
              <div id="mc_embed_signup" class="">
                <form action="//redbluegames.us12.list-manage.com/subscribe/post?u=d4b20d0dcb4ef22862b11d4b4&amp;id=4d47288fe4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                    <h2 class="text-center green-stroke">Stay Updated</h2>
                    <div class="mc-field-group form-group">
                      <label for="mce-EMAIL" class="sr-only">Email Address <span class="asterisk">*</span>
                      </label>
                      <input type="email" value="" name="EMAIL" class="required email input-box form-control" id="mce-EMAIL" placeholder="Email" data-event-category="newsletter" data-event-action="email-focused">
                    </div>
                    <div class="description">
                      <p>We will send out periodic updates to let you know how development is going.
                        Your support means a lot to us!</p>
                    </div>
                    <div class="mc-field-group from-control input-group-addon form-group">
                      <span class="sr-only"><strong>Subscription Options </strong></span>
                      <ul><li><input type="checkbox" value="4" name="group[4133][4]" id="mce-group[4133]-4133-0"><label for="mce-group[4133]-4133-0"><span></span> Release Announcement Only</label></li>
                      </ul>
                    </div>
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d4b20d0dcb4ef22862b11d4b4_4d47288fe4" tabindex="-1" value=""></div>
                    <div class="clear text-center"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-default" data-event-category="newsletter" data-event-action="submit"></div>
                  </div>
                </form>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                <script type='text/javascript'>(function($) {window.fnames = new Array();window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
              </div>
            </div>
            <!--End mc_embed_signup-->
          </div>
          <div class="clouds cloud-bottom">
          </div>
        </div>
      </div>
      <div class="parallax__layer parallax__layer--base">
       it <h2 class="bottom-text">Coming to Mac, PC, and Consoles</h2>
      </div>
    </div>
    <!-- Future blocks go here
    <div id="group4" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>
    -->
  </div>

  <script>
    var debugInput = document.querySelector("input");
    function updateDebugState() {
        document.body.classList.toggle('debug-on', debugInput.checked);
    }
    debugInput.addEventListener("click", updateDebugState);
    updateDebugState();
  </script>

</body>
</html>
