---
permalink: template/
---
{% include header.html %}

<div class="minigame-container">
  <div class="jumbotron minigame-jumbotron">
    <div class="container">
    </div>
  </div>

  <div class="container">
    <div class="row minigame-borders">
      <div class="minigame-video col-md-4 col-md-offset-1">
        VIDEO HERE
      </div>
      <div class="minigame-description col-md-8">
        <div class="row description-row">
          <div class="col-md-6 text-center badge-icon">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.redbluegames.minifish">
              <img alt="Download app on App Store"
              src="/assets/images/games-pages/app-store-badge.svg"/>
            </a>
          </div>
          <div class="col-md-6 text-center badge-icon">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.redbluegames.minifish">
              <img alt="Android app on Google Play"
              src="/assets/images/games-pages/play-store-badge.png"/>
            </a>
          </div>
        </div>
          <div class="col-md-12" style="padding-top: 15px;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis nibh non leo tempus lobortis. Aenean dictum porttitor ultrices. Duis imperdiet egestas massa, non varius turpis vulputate quis. Nullam gravida orci sit amet urna imperdiet cursus. Vestibulum convallis aliquet purus, at aliquet nisi gravida vehicula. Etiam leo lorem, faucibus quis adipiscing nec, porta et mauris. Nulla massa justo, ornare ac massa in, dapibus euismod est. Duis dignissim consectetur leo, quis lobortis eros luctus sed. Pellentesque porttitor nisi sed orci iaculis fermentum. Nunc ultrices elementum ligula, et faucibus magna euismod eget.</p>
            <p>Maecenas mi nulla, vulputate et diam sit amet, placerat gravida tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc imperdiet molestie sem, ac interdum ligula interdum sit amet. Phasellus faucibus lacus dui, non sodales lorem ultricies tincidunt. Curabitur sed sagittis augue. Vivamus vitae rhoncus sem. Fusce lobortis nunc odio.</p>
          </div>
          <div class="col-md-12">
            <h4>FEATURE LIST</h4>
            <ul>
              <li>FEATURE LIST</li>
              <li>GOES</li>
              <li>HERE</li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
