---
permalink: /404.html
---
{% include header.html title="404 - Red Blue Games"%}
{% include navbar.html %}
<div class="container center-block" id="fourofour">
  <div class="row">
    <div class="col-sm-7 col-md-7 text-center center-vertically">
      <h1>404 - Page Not Found</h1>
      <p>Sorry! The page you are looking for isn't here! Try using one of the links in our header or footer.</p>
    </div>
    <div class="col-sm-4 col-md-4 text-center">
      <img class="img-responsive" src="/assets/images/games-pages/mininuts/squirell.png" alt="picture squirell from mininuts"/>
    </div>
  </div>
</div>
{% include footer.html %}
