---
---
{% include header.html %}

<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container"><!--
      <iframe width="1200" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?t=m&amp;q=Downtown,+Durham,+NC&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;iwloc=A&amp;ll=35.996595,-78.902243&amp;spn=0.102639,0.169158&amp;output=embed"></iframe><br />-->
    </div>
  </div>

  <!-- COLUMN CONTENT -->
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-1">
        <img class="img-circle" src="https://lh3.googleusercontent.com/-fBqNn6duuFo/AAAAAAAAAAI/AAAAAAAAIUo/b4eP7iZfGLw/s120-c/photo.jpg" alt="Generic placeholder image">
        <h3>Edward Rowe</h3>
        <p>We can add a short bio about Edward that shows off his skills.</p>
        <p><a class="btn btn-default" href="#">View Profile &raquo;</a></p>
      </div>
      <div class="col-lg-4 col-lg-offset-1">
        <img class="img" src="https://lh3.googleusercontent.com/-fBqNn6duuFo/AAAAAAAAAAI/AAAAAAAAIUo/b4eP7iZfGLw/s120-c/photo.jpg" alt="Generic placeholder image">
        <h3>Lucas Rowe</h3>
        <p>We can add a short bio about Lucas that shows off his skills.
          <p><a class="btn btn-default" href="http://www.about.me/lucasrowe">About.me &raquo;</a></p>
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->

{% include footer.html %}