---
permalink: company/
---
{% include header.html %}

<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron fluid-wrapper aboutredblue jumbotron-text" id="aboutredblue">
    <div class="container">
      <div class="content text-center animated fadeIn">
        <h1><span class="red">Red</span> <span class="blue">Blue</span> Games</h1>
      </div>
    </div>
  </div>

  <!-- COLUMN CONTENT -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="whoweare">
          <h2 class="red text-center">Skills and Platforms</h2>
          <p>Red Blue Games is a small studio that makes indie games
            for mobile platforms and the web.</p>
          <p>Our skills are primarily with programming for
            <a href="http://www.viciousengine.com/" target="new">Vicious Engine</a>,
            <a href="http://www.android.com/" target="new">Android</a>, and <a href="http://unity3d.com/">Unity3d</a>.</p>
          <div class="container engine-highlights">
            <div class="row">
              <div class="col-sm-4 text-center">
                <a href="http://www.viciousengine.com/" target="new"><img class="skill-logo img-responsive" src="../assets/images/skills-logos/vicious-engine-2.jpg" alt="vicious cycle logo"/></a>
              </div>
              <div class="col-sm-4 text-center">
                <a href="http://www.android.com/" target="new"><img class="skill-logo img-responsive" src="../assets/images/skills-logos/android-logo-white.png" alt="android logo"/></a>
              </div>
              <div class="col-sm-4 text-center">
                <a href="http://unity3d.com/"><img class="skill-logo img-responsive unity-logo" src="../assets/images/skills-logos/unity-logo.jpg" alt="unity 3d logo"/></a>
              </div>
            </div>
          </div>
          <p>With Unity3D we are able to publish games on all major mobile
           and console platforms.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="whywerehere">
          <h2 class="blue text-center">Motivation</h2>
          <p>Some of the best memories we have are of playing games with
            friends or family. We hope that our games can do the same
            for others.</p>
          <p>We also want to share our experiences and help other indie studios
            by publishing much of our code openly on sites like <a href="http://www.github.com" target="_blank">Github</a> and blogging about our challenges.</p>
        </div>
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->

  <!-- COLUMN CONTENT -->

  <div class="container bottom">
    <div class="row">
      <div class="container text-center">
        <hr/>
        <h1>The Team</h1>
      </div>
      <div class="col-sm-6">
        <div class="bio">
          <img class="img-responsive img-rounded" src="../assets/images/edward-bio.jpg" alt="edward-bio-pic">
          <div class="caption text-center">
            <h3>Edward Rowe</h3>
            <p><strong>Developer, Artist, Designer</strong></p>
            <p>Edward worked in the game industry for over six years after he
              landed a lucky internship at Vicious Cycle Software in RTP. He
              left to found Red Blue Games with his twin brother, Lucas,
              so that they could team up to make the games they loved to play
              together growing up.</p>
            <p><strong>Favorite Game: </strong>The Legend of Zelda: Ocarina of Time</p>
            <p><strong>Favorite Non-Video Game: </strong>Magic the Gathering</p>
            <div class="social-links">
            <a href="http://www.linkedin.com/in/edwardlrowe" target="new">
              <i class="fa fa-linkedin fa-lg"></i></a>
            <a href="https://github.com/edwardrowe" target="new">
              <i class="fa fa-github fa-lg"></i></a>
            <a href="http://google.com/+EdwardRowe" target="new">
              <i class="fa fa-google-plus fa-lg"></i></a>
            <a href="https://twitter.com/edwardlrowe" target="new">
              <i class="fa fa-twitter fa-lg"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="bio">
          <img class="img-responsive img-rounded" src="../assets/images/lucas-bio.jpg" alt="lucas-bio-pic">
          <div class="caption text-center">
            <h3>Lucas Rowe</h3>
            <p><strong>Developer, Designer</strong></p>
            <p>After half a decade as a QA Engineer for web companies, Lucas
              decided to take the plunge into the game industry with Edward and
              start a game studio. Starting with a small Ninja Turtles hypercard
              game he made with Ed in the early 90s, Lucas has always had a
              passion for making games, and with the founding of Red Blue, finally
              gets to act on it.
            </p>
            <p><strong>Favorite Game: </strong>Earthbound</p>
            <div class="social-links">
            <a href="http://www.linkedin.com/in/lucasrowe" target="new">
              <i class="fa fa-linkedin fa-lg"></i></a>
            <a href="https://github.com/lucasrowe" target="new">
              <i class="fa fa-github fa-lg"></i></a>
            <a href="https://plus.google.com/+LucasRowe/about" target="new">
              <i class="fa fa-google-plus fa-lg"></i></a>
            <a href="https://twitter.com/lucasrowe" target="new">
              <i class="fa fa-twitter fa-lg"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /.row -->
    <hr/>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <div class="contact-us">
          <h1>Get In Touch</h1>
          <p>We welcome inquiries about current and future projects or just
            sending us an email to say hello. If you are interested in our
            game creation services or consulting we would also love to hear from you.</p>
          <p><a class="btn btn-primary btn-lg btn-email" target="_blank"
            href="mailto:contact+rbg@redbluegames.com" role="button">Email Us</a></p>
          <br/><p>If email isn't your style, you can always follow us on these networks.</p>
          <p>
            <a href="https://plus.google.com/103395515309305957511" rel="publisher">
              <i class="fa fa-google-plus-square fa-3x"></i></a>
              <span>&nbsp;&nbsp;</span>
            <a href="https://www.facebook.com/redbluegamesllc"><i class="fa fa-facebook-square fa-3x"></i></a>
            <span>&nbsp;&nbsp;</span>
            <a href="https://twitter.com/redbluegames"><i class="fa fa-twitter-square fa-3x"></i></a>
          </p>
        </div>
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->

{% include footer.html %}