---
---
{% include header.html %}

<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron fluid-wrapper aboutredblue jumbotron-text" id="aboutredblue">
    <div class="container">
      <div class="content text-center">
        <h1>Red Blue Studios</h1>
        <span class="">
          Some text here about us.
        </span>
      </div>
    </div>
  </div>

  <!-- COLUMN CONTENT -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="whoweare">
          <h3>Who We Are</h3>
          <p>Red Blue is a small indie studio that makes indie games
            for mobile platforms and, if all goes according to plan, next-gen
            consoles as well.</p>
          <p>Our skills are primarily with programming for
            <a href="http://www.viciousengine.com/" target="new">Vicious Engine</a>,
            <a href="http://unity3d.com/">Unity3d</a>, and <a href="http://www.android.com/" target="new">Android</a>.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="whywerehere">
          <h3>Why We're Here</h3>
          <p>Some of the best memories we have are of playing games with
            friends or family. We hope that our games can do the same
            for others.</p>
          <p>We also want to share our experiences and help other indie studios
            by publishing much of our code openly on sites like <a href="http://www.github.com" target="_new">Github</a> and blogging about our challenges.</p>
        </div>
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->

  <!-- COLUMN CONTENT -->
  <div class="container text-center">
    <h2>The Team</h2>
  </div>
  <div class="container bottom">
    <div class="row">
      <div class="col-sm-3 col-md-3 col-sm-offset-2">
        <div class="bio">
          <img class="img-responsive img-rounded" src="https://www.google.com/images/srpr/logo11w.png" alt="edward-bio-pic">
          <div class="caption">
            <h3>Edward Rowe</h3>
            <p>We can add a short bio about Edward that shows off his skills.</p>
            <p><a class="btn btn-default" href="#">View Profile &raquo;</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3 col-sm-offset-2">
        <div class="bio">
          <img class="img-responsive img-rounded" src="../assets/images/lucas-bio.jpg" alt="lucas-bio-pic">
          <div class="caption">
            <h3>Lucas Rowe</h3>
            <p><b>Developer</b></p>
            <p>After half a decade as a QA Engineer for web companies, Lucas
              decided to take the plunge into the game industry with Edward and
              start a game studio.
            </p>
            <p><b>Favorite Game: </b>Earthbound</p>
            <div class="text-center">
            <a href="http://www.linkedin.com/in/lucasrowe" target="new">
              <i class="fa fa-linkedin fa-lg"></i></a>
            <a href="https://github.com/lucasrowe" target="new">
              <i class="fa fa-github fa-lg"></i></a>
            <a href="https://plus.google.com/+LucasRowe/about" target="new">
              <i class="fa fa-google-plus fa-lg"></i></a>
            <a href="https://twitter.com/lucasrowe" target="new">
              <i class="fa fa-twitter fa-lg"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->

{% include footer.html %}