---
---
{% include header.html %}

<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron fluid-wrapper aboutredblue jumbotron-text" id="aboutredblue">
    <div class="container">
      <div class="content text-center">
        <h1>Red Blue Games</h1>
        <span class="">
        </span>
      </div>
    </div>
  </div>

  <!-- COLUMN CONTENT -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="whoweare">
          <h2 class="red text-center">Skills</h2>
          <p>Red Blue is a small studio that makes indie games
            for mobile platforms and, soon to be, next-gen
            consoles as well.</p>
          <p>Our skills are primarily with programming for
            <a href="http://www.viciousengine.com/" target="new">Vicious Engine</a>,
            <a href="http://www.android.com/" target="new">Android</a>, and <a href="http://unity3d.com/">Unity3d</a>.</p>
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <a href="http://www.viciousengine.com/" target="new"><img class="skill-logo img-responsive" src="../assets/images/skills-logos/vicious-engine-2.jpg"/></a>
              </div>
              <div class="col-sm-4 text-center">
                <a href="http://www.android.com/" target="new"><img class="skill-logo img-responsive" src="../assets/images/skills-logos/android-logo-white.png"/></a>
              </div>
              <div class="col-sm-4 text-center">
                <a href="http://unity3d.com/"><img class="skill-logo img-responsive unity-logo" src="../assets/images/skills-logos/unity-logo.jpg"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="whywerehere">
          <h2 class="blue text-center">Motivation</h2>
          <p>Some of the best memories we have are of playing games with
            friends or family. We hope that our games can do the same
            for others.</p>
          <p>We also want to share our experiences and help other indie studios
            by publishing much of our code openly on sites like <a href="http://www.github.com" target="_new">Github</a> and blogging about our challenges.</p>
        </div>
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->

  <!-- COLUMN CONTENT -->

  <div class="container bottom">
    <div class="row">
      <div class="container text-center">
        <hr/>
        <h2>The Team/h2>
      </div>
      <div class="col-sm-4 col-md-4 col-sm-offset-2">
        <div class="bio">
          <img class="img-responsive img-rounded" src="../assets/images/edward-bio.jpg" alt="edward-bio-pic">
          <div class="caption text-center">
            <h3>Edward Rowe</h3>
            <p><b>Developer</b></p>
            <p>Edward worked in the game industry for over six years after he
              landed a lucky internship at Vicious Cycle Software in RTP. He
              left to found Red Blue Games with his twin brother, Lucas,
              so that they could team up to make the games they loved to play
              together growing up.</p>
            <p><b>Favorite Video Game: </b>The Legend of Zelda: Ocarina of Time</p>
            <p><b>Favorite Non-Video Game: </b>Magic the Gathering</p>
            <div class="social-links">
            <a href="http://www.linkedin.com/in/edwardlrowe" target="new">
              <i class="fa fa-linkedin fa-lg"></i></a>
            <a href="https://github.com/edwardrowe" target="new">
              <i class="fa fa-github fa-lg"></i></a>
            <a href="http://google.com/+EdwardRowe" target="new">
              <i class="fa fa-google-plus fa-lg"></i></a>
            <a href="https://twitter.com/edwardlrowe" target="new">
              <i class="fa fa-twitter fa-lg"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="bio">
          <img class="img-responsive img-rounded" src="../assets/images/lucas-bio.jpg" alt="lucas-bio-pic">
          <div class="caption text-center">
            <h3>Lucas Rowe</h3>
            <p><b>Developer</b></p>
            <p>After half a decade as a QA Engineer for web companies, Lucas
              decided to take the plunge into the game industry with Edward and
              start a game studio.
            </p>
            <p><b>Favorite Game: </b>Earthbound</p>
            <div class="social-links">
            <a href="http://www.linkedin.com/in/lucasrowe" target="new">
              <i class="fa fa-linkedin fa-lg"></i></a>
            <a href="https://github.com/lucasrowe" target="new">
              <i class="fa fa-github fa-lg"></i></a>
            <a href="https://plus.google.com/+LucasRowe/about" target="new">
              <i class="fa fa-google-plus fa-lg"></i></a>
            <a href="https://twitter.com/lucasrowe" target="new">
              <i class="fa fa-twitter fa-lg"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->

{% include footer.html %}