---
permalink: services/
---
{% include header.html %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron fluid-wrapper aboutredblue jumbotron-text" id="aboutredblue">
  <div class="container">
    <div class="content text-center">
      <h1>Services</h1>
    </div>
  </div>
</div>

<div class="container bottom">
  <!-- SERVICES CONTENT -->
  <div class="row">
    <div class="col-sm-12 col-md-12">
        <h2 class="red text-center">Full-Service Game Development</h2>
        <p>Red Blue Games will provide you with all of the expertise and talent you need to bring your game ideas to life. We help our clients’ achieve their vision by providing game design, art, audio, and programming, with an attention to detail on which we’ve built our reputation.</p>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-3 col-md-2 col-md-offset-2 text-center">
              <img class="skill-logo img-responsive vicious-icon" src="../assets/images/services-icons/icon_art.png" alt="icon of color palette"/>
              <h4>Art</h4>
            </div>
            <div class="col-xs-3 col-md-2 text-center">
              <img class="skill-logo img-responsive android-icon" src="../assets/images/services-icons/icon_audio.png" alt="icon of music note"/>
              <h4>Audio</h4>
            </div>
            <div class="col-xs-3 col-md-2 text-center">
              <img class="skill-logo img-responsive unity-logo unity-icon" src="../assets/images/services-icons/icon_design.png" alt="icon of thoughts on design"/>
              <h4>Design</h4>
            </div>
            <div class="col-xs-3 col-md-2 text-center">
              <img class="skill-logo img-responsive unity-logo unity-icon" src="../assets/images/services-icons/icon_code.png" alt="icon of a robot"/>
              <h4>Code</h4>
            </div>
          </div>
        </div>
        <hr/>
        <h2 class="red text-center">Multi-Platform Games with Unity</h2>
        <p>We specialize in the Unity game engine which allows us to easily release across many platforms. With us you can publish your game on all mobile devices, consoles, the web, and PC.</p>
        <hr/>
        <h2 class="red text-center">Features and Genres</h2>
        <p>We have shipped games across many different genres, including puzzle, action, word games, and more. Through this work we’ve acquired experience with most common game features including:</p>
        <ul>
        <li>In App Purchases</li>
        <li>Social Network Integration</li>
        <li>In game stores</li>
        <li>Social Interactions and Networking</li>
        <li>Avatar Editors</li>
        <li>And more</li>
        </ul>
    </div>
  </div> <!-- /.row -->
</div> <!-- /.container -->
{% include footer.html %}
