  </div> <!-- /wrap -->
  <div class="footer">
    <div class="subfooter">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h5><i class="fa fa-suitcase"> </i> About Us</h5>
            <p>Red Blue Games is a game studio based in Durham, NC. In addition to making
             indie games, we provide full service game development and consulting.</p>
          </div>
          <div class="col-sm-4">
            <h5><i class="fa fa-laptop"> </i> Our Games</h5>
            <ul class="footer-list media-list ">
              <li><a href="/games/minigames/minifish/"><i class="fa fa-mobile-phone"> </i> Mini Fish: Downstream Dash</a></li>
              <li><a href="/games/minigames/mininuts/"><i class="fa fa-mobile-phone"> </i> Mini Nuts: Memory Challenge</a></li>
              <li><a href="/games/minigames/minifish/"><i class="fa fa-mobile-phone"> </i> Mini Stackem: Action Match3</a></li>
              <li><a href="/games/buzzwords/"><i class="fa fa-mobile-phone"> </i> Buzzwords (Android)</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h5><i class="fa fa-comments"> </i> Follow Along</h5>
            <ul class="media-list tiny-bios">
              <li class="media">
                <a class="pull-left" href="company.html">
                  <img id="redblue-square-footer" class="media-object tiny-biopic" src="/assets/images/rb-logo-tiny.png" alt="redblue bio">
                </a>
                <div class="media-body">
                  <h5>Red Blue Games</h5>
                  News, tips, and other company stuff.<br/>
                  Follow us on <a href="https://plus.google.com/103395515309305957511" rel="publisher">Google+</a>
                  or <a href="https://twitter.com/redbluegames">Twitter</a>
                </div>
              </li>
              <li class="media">
                <a class="pull-left" href="http://about.me/lucasrowe" target="new">
                  <img id="lucas-square-footer" class="media-object tiny-biopic redward" src="/assets/images/lucas-bio-tiny.jpg" alt="lucas bio">
                </a>
                <div class="media-body">
                  <h5>Lucas Rowe</h5>
                  The Blue in Red Blue Games.
                </div>
              </li>
              <li class="media">
                <a class="pull-left" href="https://twitter.com/edwardlrowe" target="new">
                  <img id="edward-square-footer" class="media-object tiny-biopic bluecas" src="/assets/images/edward-bio-tiny.jpg" alt="edward bio">
                </a>
                <div class="media-body">
                  <h5>Edward Rowe</h5>
                  The Red in Red Blue Games.
                </div>
              </li>
            </ul>
          </div><!--
          <div class="col-sm-3">
            <h5>Header</h5>
            <p>paragraph text goes here</p>
          </div>-->
        </div> <!--/row-->
      </div> <!--/container-->
    </div> <!--/subfooter-->
    <div class="copyright text-center">
      <p class="credit test">
        <i class="fa fa-gamepad fa-lg redblueicon red"></i>
        <i class="fa fa-gamepad fa-lg redblueicon blue"></i> Red Blue Games</p>
    </div>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-2.0.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom-js.js"></script>
    {% include analytics.html %}
  </body>
</html>
