  </div> <!-- /wrap -->
  <div class="footer">
    <div class="subfooter">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h5>About Us</h5>
            <p>Red Blue Studios is an indie game studio based in Durham, NC.
              We're interested in making experiences people can share.</p>
          </div>
          <div class="col-sm-4">
            <h5>Our Games</h5>
            <ul class="footer-list">
              <li><a href="buzzwords.html">Buzzwords (Android)</a></li>
              <li>...More in the works!</li>
          </div>
          <div class="col-sm-4">
            <h5>Follow Along</h5>
            <ul class="media-list tiny-bios">
              <li class="media">
                <a class="pull-left" href="#">
                  <img class="media-object tiny-biopic bluecas" src="../assets/images/lucas-bio-tiny.jpg" alt="lucas bio">
                </a>
                <div class="media-body">
                  <h5>Lucas Rowe</h5>
                  The Blue in Red Blue Studios.
                </div>
              </li>
            </ul>
          </div><!--
          <div class="col-sm-3">
            <h5>Header</h5>
            <p>paragraph text goes here</p>
          </div>-->
        </div> <!--/row-->
      </div> <!--/container-->
    </div> <!--/subfooter-->
    <div class="copyright">
      <p class="credit">&copy; Red Blue Studios 2013</p>
    </div>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom-js.js"></script>
  </body>
</html>