  </div> <!-- /wrap -->
  <div class="footer">
    <div class="subfooter">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h5><i class="fa fa-suitcase"> </i> About Us</h5>
            <p>Red Blue Games is an indie game studio based in Durham, NC.
              We're interested in making experiences people can share.</p>
          </div>
          <div class="col-sm-4">
            <h5><i class="fa fa-laptop"> </i> Our Games</h5>
            <ul class="footer-list">
              <li><a href="/games/buzzwords/"><i class="fa fa-mobile-phone"> </i> Buzzwords (Android)</a></li>
              <li>...More in the works!</li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h5><i class="fa fa-comments"> </i> Follow Along</h5>
            <ul class="media-list tiny-bios">
              <li class="media">
                <a class="pull-left" href="company.html">
                  <img id="redblue-square-footer" class="media-object tiny-biopic bluecas flipper" src="/assets/images/rb-logo-tiny.png" alt="redblue bio">
                </a>
                <div class="media-body">
                  <h5>Red Blue Games</h5>
                  News, tips, and other company stuff.
                </div>
              </li>
              <li class="media">
                <a class="pull-left" href="http://about.me/lucasrowe" target="new">
                  <img id="lucas-square-footer" class="media-object tiny-biopic bluecas flipper" src="/assets/images/lucas-bio-tiny.jpg" alt="lucas bio">
                </a>
                <div class="media-body">
                  <h5>Lucas Rowe</h5>
                  The Blue in Red Blue Games.
                </div>
              </li>
              <li class="media">
                <a class="pull-left" href="#" target="new">
                  <img id="edward-square-footer" class="media-object tiny-biopic bluecas flipper" src="/assets/images/edward-bio-tiny.jpg" alt="edward bio">
                </a>
                <div class="media-body">
                  <h5>Edward Rowe</h5>
                  The Red in Red Blue Games.
                </div>
              </li>
            </ul>
          </div><!--
          <div class="col-sm-3">
            <h5>Header</h5>
            <p>paragraph text goes here</p>
          </div>-->
        </div> <!--/row-->
      </div> <!--/container-->
    </div> <!--/subfooter-->
    <div class="copyright text-center">
      <p class="credit test">
        <i class="fa fa-gamepad fa-lg redblueicon red"></i>
        <i class="fa fa-gamepad fa-lg redblueicon blue"></i> Red Blue Games</p>
    </div>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-2.0.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.transit.min.js"></script>
    <script src="/js/custom-js.js"></script>
    {% include analytics.html %}
  </body>
</html>