<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Find information on Red Blue Games current
  and upcoming releases and follow the developer blog. Contact Red Blue Games
  and find out more about the company.">
  <meta name="author" content="red blue games">
  <meta name="google-site-verification" content="uVV-7L8xLBlXT9FkSSWMwvIGImm_fG4wBKUj0kPg-mg" />
  <meta http-equiv="expires" content="Sunday, 01 Jan 2017 08:00:00 GMT">
  <link rel="icon"
    type="image/png"
    href="{% if page.icon %} {{ page.icon }}{% else %}/assets/images/favicon.png {% endif %}">
  <title>{% if page.title %} {{ page.title }}{% else %}Red Blue Games{% endif %}</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for RBG Bootstrap -->
  <link href="/css/custom-bootstrap.css" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/fonts/font-awesome-4.4.0/css/font-awesome.min.css">
  <!-- Animated styles -->
  <link href="/css/animate.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <div class="{{ page.tag }}" id="wrap">
