<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find information on Red Blue Games current
    and upcoming releases and follow the developer blog. Contact Red Blue Games
    and find out more about the company.">
    <meta name="author" content="red blue games">
    <meta name="google-site-verification" content="uVV-7L8xLBlXT9FkSSWMwvIGImm_fG4wBKUj0kPg-mg" />
    <meta http-equiv="expires" content="Thurs, 01 Jan 2015 08:00:00 GMT">
    <link rel="icon"
      type="image/png"
      href="/assets/images/favicon.png">
    <title>{% if include.title %} {{ include.title }}{% else %}Red Blue Games{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/custom-bootstrap.css" rel="stylesheet">
    <!-- Animated styles -->
    <link href="/css/animate.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="wrap">
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index.html">
              <i class="fa fa-gamepad fa-lg redblueicon red wiggle-on-hover"></i>
              <i class="fa fa-gamepad fa-lg redblueicon blue wiggle-on-hover"></i> Red Blue Games</a>
          </div>

          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                  <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/games/minigames/">
                    <i class="fa fa-mobile"> </i> Minigames<span class="fa fa-caret-down"></span>
                  </a>
                  <ul class="dropdown-menu navbar-nav" role="menu" aria-labelledby="dLabel">
                    <li><a href="/games/minigames/minifish/">Mini Fish</a></li>
                    <li><a href="/games/minigames/mininuts/">Mini Nuts</a></li>
                    <li><a href="/games/minigames/ministackem/">Mini Stackem</a></li>
                  </ul>
              </li>
              <li><a href="/games/buzzwords/"><i class="fa fa-android"> </i> Buzzwords</a></li>
              <li><a href="http://redbluegames.tumblr.com"><i class="fa fa-edit"> </i> Blog</a></li>
              <li><a href="/services/"><i class="fa fa-puzzle-piece"> </i> Services</a></li>
              <li><a href="/company/"><i class="fa fa-group"> </i> Company</a></li>
            </ul>
          </div><!--/.navbar-collapse -->
        </div> <!-- /.container -->
      </div> <!-- /.navbar -->
