<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="red blue games website">
    <meta name="author" content="red blue games">

    <title>Red Blue Games</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/custom-bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="wrap">
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index.html">
              <i class="fa fa-gamepad fa-lg redblueicon red"></i>
              <i class="fa fa-gamepad fa-lg redblueicon blue"></i> Red Blue Games</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/buzzwords.html">BUZZWORDS</a></li>
              <li><a href="#blog">BLOG</a></li>
              <li><a href="/company.html">COMPANY</a></li>
            </ul>
          </div><!--/.navbar-collapse -->
        </div> <!-- /.container -->
      </div> <!-- /.navbar -->
