---
permalink: services/
redirect_from: "/foo"
---
{% include header.html %}
{% include navbar.html %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron fluid-wrapper fullbanner jumbotron-text" id="services-banner">
  <div class="container">
    <div class="content text-center">
      <h1>Services</h1>
    </div>
  </div>
</div>

<div class="container">
  <!-- SERVICES CONTENT -->
  <div class="row">
    <div class="col-sm-10 col-md-10 col-sm-offset-1">
      <h2 class="red text-center">Full-Service Game Development</h2>
      <p>Red Blue Games will provide you with all of the expertise and talent you need to bring your game ideas to life. We help our clients achieve their vision by providing game design, art, audio, and programming, with an attention to detail on which we’ve built our reputation.</p>
    </div>
  </div>
  <div class="container-fluid padded-container">
    <div class="row">
      <div class="col-xs-3 col-md-3 text-center">
        <img class="skill-logo img-responsive vicious-icon" src="../assets/images/services-icons/icon_art.png" alt="icon of color palette"/>
        <h4>Art</h4>
      </div>
      <div class="col-xs-3 col-md-3 text-center">
        <img class="skill-logo img-responsive android-icon" src="../assets/images/services-icons/icon_audio.png" alt="icon of music note"/>
        <h4>Audio</h4>
      </div>
      <div class="col-xs-3 col-md-3 text-center">
        <img class="skill-logo img-responsive unity-logo unity-icon" src="../assets/images/services-icons/icon_design.png" alt="icon of thoughts on design"/>
        <h4>Design</h4>
      </div>
      <div class="col-xs-3 col-md-3 text-center">
        <img class="skill-logo img-responsive unity-logo unity-icon" src="../assets/images/services-icons/icon_programming.png" alt="icon of a robot"/>
        <h4>Code</h4>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-10 col-md-10 col-sm-offset-1">
      <h2 class="red text-center">Multi-Platform Games with Unity®</h2>
      <p>We specialize in the Unity® game engine which allows us to easily
        release across many platforms. With us you can publish your game on
        all mobile devices, consoles, the web, and PC. Our team has experience
        shipping titles on many modern platforms including current
        generation consoles, Android, iOS, and PC.</p>
    </div>
    <div class="col-sm-12 col-md-12 padded-container">
      <img class="img-responsive platform-icons" src="../assets/images/services-icons/icon_all_platforms.png" alt="icon of phone, tablet, laptop, and television"/>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-10 col-md-10 col-sm-offset-1">
      <h2 class="red text-center">Mobile Experience</h2>
      <p>We have shipped games across many different genres, including puzzle, action, word games, and more. Through this work we’ve acquired experience with most common game features including:</p>
      <ul>
      <li>In App Purchases</li>
      <li>Social Network Integration</li>
      <li>In game stores</li>
      <li>Social Interactions and Networking</li>
      <li>Avatar Editors</li>
      <li>...and more</li>
      </ul>
    </div>
  </div>

  <hr/>
  <div class="container bottom">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <div class="contact-us">
          <h1 class="">Ready to Talk?</h1>
          <p>We're excited to hear about your project.</p>
          <p><a class="btn btn-primary btn-lg btn-email" target="_blank"
            href="mailto:contact+services@redbluegames.com" role="button">Email Us</a></p>
        </div>
      </div>
    </div> <!-- /.row -->
  </div>
</div> <!-- /.container -->
{% include footer.html %}
