---
layout: default
---
<link href="/css/promos.css" rel="stylesheet">

<div class="minigame-wrapper {{  page.tag  }}" id="{{ page.tag }}">
  <div class="minigame-jumbotron {{ page.tag }}">
    <div class="minigame-nav-container">
      <div id="left" class="minigame-nav leftnavarrow pull-left animated fadeInLeft">
        <span class="glyphicon glyphicon-arrow-left"></span>
      </div>
      <div id="right" class="minigame-nav rightnavarrow pull-right animated fadeInRight">
        <span class="glyphicon glyphicon-arrow-right"></span>
      </div>
    </div>
    <img src="{{ page.title-art }}" alt="{{ page.tag }} title" class="animated {{ page.title-anim }} minititle {{ page.tag }}"/>
    {% if page.banner %}
    <img src="{{ page.banner }}" alt="{{ page.tag }} banner" class="img-responsive animated fadeIn visible-xs banner-img"/>
    {% endif %}
    {% if page.lg-banner %}
    <img src="{{ page.lg-banner }}" alt="{{ page.tag }} banner" class="img-responsive animated fadeIn visible-sm visible-md banner-img"/>
    {% endif %}
    {% if page.xl-banner %}
    <img src="{{ page.xl-banner }}" alt="{{ page.tag }} large banner" class="img-responsive animated fadeIn visible-lg banner-img"/>
    {% endif %}
  </div>

  <div class="container minigame-blocks">
    <div class="row">
      <div class="badge-container">
        {% if page.app.appstore-url or page.app.playstore-url or page.app.kongregate-url %}
        <div class="col-sm-12 text-center badge-icon animated fadeIn">
          {% if page.app.appstore-url %}
          <a target="_blank" href="{{ page.app.appstore-url }}">
            <img alt="Download app on App Store" src="/assets/images/games-pages/app-store-badge.svg" ga-event-category="cta" ga-event-action="goto-appstore"/>
          </a>
          {% endif %}

          {% if page.app.playstore-url %}
          <a target="_blank" href="{{ page.app.playstore-url}}">
            <img alt="Android app on Google Play" src="/assets/images/games-pages/play-store-badge.png" ga-event-category="cta" ga-event-action="goto-playstore"/>
          </a>
          {% endif %}

          {% if page.app.kongregate-url %}
          <a target="_blank" href="{{ page.app.kongregate-url}}">
            <img class="kongregate" src="http://cdn1.kongcdn.com/images/sharedassets/badge_dev_220x25.png" width="220" height="25" alt="Kongregate Games logo" ga-event-category="cta" ga-event-action="goto-kongregate"></a>
          {% endif %}
        </div>
        {% endif %}
      </div>
      {{ content }}
      {% if page.app.display-name and page.app.description %}
      <div class="col-sm-6 col-sm-offset-1 minigame-description {{ page.tag }} minigame-borders">
        <div class="">
          <h1 class="text-center">{{ page.app.display-name }}</h1>
          <p>{{ page.app.description }}</p>
        </div>
        {% if page.app.features %}
        <div class="feature-list">
          <h4>Features</h4>
          <ul>
            {% for feature in page.app.features %}
            <li>{{ feature }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      {% endif %}
      {% if page.gif %}
      <div class="minigame-video col-sm-6 {{ page.tag }}">
        <img class="{{ page.tag }} gif minigame-borders" src="{{ page.gif }}" alt="{{ page.tag }} video"/>
      </div>
      {% endif %}
    </div>
  </div> <!-- /container -->
</div> <!-- /minigame-wrapper -->
