// Sparklight Less

@import url(https://fonts.googleapis.com/css?family=Righteous);

// Variables
@font-body:  "Righteous";
@color-dirt-background: rgb(17, 14, 11);
@color-gold-light: rgb(254, 242, 107);
@color-gold-dark: rgb(255, 179, 10);

// CSS
// -------------------------

.subtitle {
  font-family: @font-body;
  color: @color-gold-light;
}

body {
  background-color: @color-dirt-background;
  background-image: url("../assets/sparklight/background.gif");
  background-repeat: repeat;
}
