// Sparklight Less

@import url(https://fonts.googleapis.com/css?family=Righteous);

// Variables
// -------------------------

// Typography
@font-body:  "Righteous";

@font-size-base:          18px;
@font-size-huge:          ceil(@font-size-base * 5);
@font-size-large:         ceil(@font-size-base * 2.5);
@font-size-small:         ceil(@font-size-base * 0.8);

// Colors
@alphad-white: rgba(255, 255, 255, 0.75);

@color-dirt-background: #110E0B;

@color-blue-light: rgb(92, 203, 238);
@color-blue-dark: rgb(2, 99, 170);
@color-gold-light: rgb(254, 242, 107);
@color-gold-dark: rgb(255, 179, 10);


// General
// --------------------------------------------------

h1, h2, h3, h4, h5 {
  font-family: @font-body;
  color: @color-gold-light;
}

h1 {
  font-size: @font-size-huge;
}

h2 {
  font-size: @font-size-large;
  color: @color-blue-light;
}

// Navbar
// --------------------------------------------------

.navbar {
  background-color: @color-dirt-background;
  border: none;
}

.navbar-default .navbar-brand {
  color: @alphad-white;
}

.redblueicon {
  vertical-align: 0%;
  max-width: 20px;
}

// Body and Contents
// --------------------------------------------------

body {
  background-color: @color-dirt-background;
  background-image: url("../assets/sparklight/background.gif");
  background-repeat: repeat;
}

.title-subtitle {
  position: absolute;
	left: 0;
	right: 0;
	top: 10%;
	margin-left: auto;
 	margin-right: auto;
}

.title {
  margin: 0 auto;
}

.subtitle {
  font-family: @font-body;
}

.blue3d {
  color: @color-blue-light;
  .text3d(@color-blue-dark);}

.yellow3d {
  color: @color-gold-light;
  .text3d(@color-gold-dark);
}

// Mailchimp / Newsletter
// --------------------------------------------------

// Mixins
// --------------------------------------------------

.text3d(@side-color) {
  text-shadow:
    0 0.02em 0 darken(@side-color, 4%),
    0 0.04em 0 darken(@side-color, 8%),
    0 0.06em 0 darken(@side-color, 12%),
    0 0.08em 0 darken(@side-color, 16%),
    0 0.1em 0 darken(@side-color, 20%),
    0 6px 1px rgba(0,0,0,.2),
    0 0 5px rgba(0,0,0,.3),
    0 1px 3px rgba(0,0,0,.4),
    0 3px 5px rgba(0,0,0,.3),
    0 5px 10px rgba(0,0,0,.5),
    0 10px 10px rgba(0,0,0,.4),
    0 20px 20px rgba(0,0,0,.3);
}
